body {
  margin: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  background-color: darkcyan;
  width: 220px;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar a {
  text-decoration: none;
  color: aliceblue;
  display: block;
  padding: 10px 20px;
  transition: background 0.3 ease;
}

.sidebar a:hover {
  background-color: darkslategray;
}

.container {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

.hop {
  display: flex;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.hop pre {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre-wrap;
  font-size: 16px; /* nếu muốn chỉnh riêng font size */
}

.canhgiua {
  text-align: center;
}
