body {
  margin: 0;
}
nav {
  padding: 1px 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(1, 19, 19, 0.062);
  align-items: center; /* ✅ Căn giữa chiều cao */
}

nav a {
  color: rgb(3, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 12px 10px; /* thêm padding để tạo khối */
  border-radius: 5px; /* bo góc nhẹ */
  transition: background-color 0.3s ease; /* hiệu ứng mượt */
}

nav a:hover {
  background-color: rgb(151, 203, 238);
}

.Hopnoidung {
  border-radius: 10px;
  width: 700px;
  padding: 0;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}

.maunen1 {
  background-color: rgb(200, 226, 243);
}

.maunen2 {
  background-color: rgb(204, 245, 229);
}

.Hopnoidung pre {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre-wrap;
  font-size: 16px; /* nếu muốn chỉnh riêng font size */
}
#thoigian {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
